
.style {
    font-size: 17px;
    text-align: center;
}
.divShopping {
    width: 60%;
    display: block;
    position: relative;
}

.shopping-cart .ph1 h1{
    color: #091F2E;    
    font-weight: 700;    
}

.shopping-cart{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
}


.remove-from-cart{
    height: 20px;
    width: 50px;
}

.buttons {
    margin-left: 380px;
    display: inline-block;
}
.img {
    width: 60px;
}
.name {
    margin-left: 140px;
    margin-top: -62px;
    font-size: 20px;
    width: 200px;
    color: rgba(78, 63, 63, 0.945);

}

#buttonCount{
    color: rgb(15, 15, 53);
    height: 30px;
    width: 30px;
    cursor:no-drop;
    /* background-color: rgb(30, 30, 99);; */
}
#button- {
    background-color:  #08994a;
    color: cornsilk;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    height: 23px;
    width: 23px;
    border-radius: 2px;

}
#button-:hover{
    background-color: #4ccb5a;
}
.price {
    margin-left: 520px;
    margin-top: -25px;
    color:rgba(78, 63, 63, 0.945) 
}
.remove {
    margin-left: 200px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background: rgba(153, 14, 14, 0.0001);
    z-index: 1000;  
}   
#title {
    text-align: center; 
    top:55px;
    color: #091F2E;
}

hr{
	border-top: 1px solid #8c8b8b;
	border-bottom: 1px solid #fff;
}
hr:after {
	content: '';
	display: block;
	margin-top: 2px;
	border-top: 1px solid #8c8b8b;
	border-bottom: 1px solid #fff; 
}

.checkout {
    margin-left: 380px;
    width: 100px;
    height: 40px;
     border-radius: 4px;
    font-weight: 600;
    background:  #091F2E; 
    color: #FFF;  
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 100px;
}

  .checkout:hover{
    background: linear-gradient( #4ccb5a, #08994a);
    color: #091F2E; 
   
  }
  .inCart{
      font-size: 22px;
      color: #08994a;
      font-weight: 800;
  }
  