.shopping-cart{
    width: 80%;
    
}
.shopping-cart h1{
    list-style: none;
    position: absolute;
    top: 40%;
    left: 50%;
    
    font-weight: 700;
    transform: translateX(-50%) translateY(-50%);
}
.shopping-cart ol{
    padding: 0;
    margin: 2rem; 
    list-style-position: outside;
}
.shopping-cart ol li{    
    width: 80%;
    height:15rem;
    margin: 1rem 0.5rem;
    text-align: right;    
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
      padding: 2rem;
      display: flex;
      justify-content: left baseline;
    
   
}

.shopping-cart ol li .cart-img-cont{
    width: 30rem;
      height: 30rem;
      overflow: hidden;
}

.shopping-cart ol li .cart-img-cont .cart-book-img{
    width: 40%; 
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    
    height: auto;
    outline: none;
}
button{
    height: 20px;
    width: 20px;
}
.remove-from-cart{
    height: 20px;
    width: 50px;
}
.shopping-cart ol li hr{
    border: 0;
    clear:both;
    display:flex;
    width: 98%;               
    background-color:rgba(0, 0, 0, 0.2);
    height: 1px;
    justify-items: center;
    margin: 0 2%;

}