 
  .header-child{
    color:#091F2E;
    display:flex;
    justify-content: space-around;
    width:100%;
    font-size:20px;
    font-weight: bold;
    
  }
  ​
  .header-child-2 :nth-child(n){
    background-color: #091F2E ;
    border:0;
  }
  
 
  .header-bg{
    background-color:#091F2E;
  }

    .book-container{
    z-index: 55;
    
  }
  .searchSelect{
    word-wrap: normal;
 height: 37px;
 border-radius: 7%;

  }
   
  /* .search {
    position: relative;
    margin-right: 20px;
    left: 70%;
    font-size: 20px;
    cursor: help;
    background: url('/images/search.png');
    /* background-repeat:  no-repeat;
    background-position: scroll 7px 7px;
    /* padding-left: 30px; */
    /* background-color: white; */
   
  /* } */
  .list {
    width: 130px;
    height: 150px;
    cursor: pointer;
    display: block;
    background-color: #091F2E;
    text-align: center;
    margin: 10px;
    font-weight: bolder;
    color: #FFF;
  }
  .listStyle{
     /* position: absolute;
    text-align: left;
    left: 10%;
    width: 100%;
    padding: 0; */
    text-decoration: none;
    display: block;
    justify-content: space-between;
  }
/*   ul{
    padding: 17px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
  } */
/*   .navbar-dark .navbar-toggler{
    color: #FFF;
    border-color: none;
  }
  .navbar-toggler{
    border: none;
  }
   */
