@import "./styles/BooksList.css";
@import "./styles/Add-Books-Form.css";
@import "./styles/Cart-Page.css";
@import "./styles/Show-Cart.css";
@import "./styles/Loading.css";
@import "./styles/Menu.css";

* {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
  
}
html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-repeat: no-repeat;
}
.carusel{
  height: 450px;
  width: 140%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.carusel img{
  width: 60%;
}
/* #091F2E D42A2A #820505 */