* {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
.add-book{
  height: 30px ;
  width: 150px;
  border: solid 1px black;
}


.card-deck{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 32px;
}



